.homeBg {
  background-image: url(./assets/homeBg.png);
  height: 550px;
  background-position: center;
  background-size: contain;
}

.bgLogin {
  background-image: url(./assets/bgLogin.png);
  height: 768px;
  background-position: center;
  background-size: contain;
}
.bgRegister {
  background-image: url(./assets/bgRegister.png);
  height: 768px;
  background-position: center;
  background-size: contain;
}



/* screen 1024px tablet ipad pro */
@media only screen and (max-width: 1024px) {
  .homeBg{
    height: 400px;
  }
  .bgLogin {
    height: 768px;
  }
  .bgRegister {
    height: 768px;
  }
}

/* screen 768px tablet ipad */
@media only screen and (max-width: 768px) {
  .homeBg{
    height: 300px;
  }
  .bgLogin {
    height: 568px;
  }
  .bgRegister {
    height: 568px;
  }
}

/* screen max 600px phone */
@media only screen and (max-width: 600px) {
  .homeBg{
    height: 250px;
    background-size: cover;
  }
}